body {
  background-color: rgb(242, 255, 255);
}
.bd-navbar {
  background-color: #053476;
}
.head {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(188, 252, 255) 0%,
    rgb(180, 209, 250) 100.7%
  );
  padding: 120px;
  padding-top: 160px;
  color: rgb(24, 40, 87);
  text-align: center;
}
h1 {
  font-family: "Arima Madurai", cursive;
  font-size: 70px;
  font-weight: 800;
}
h2,
h3 {
  text-align: center;
  color: rgb(24, 40, 87);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
h3 {
  font-size: 26px;
}
.m-5 {
  margin: 40px;
  font-family: "Varela Round", sans-serif;
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  color: #003479;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  touch-action: manipulation;
}
.m-5:hover,
.m-5:active {
  outline: 0;
}

.m-5:hover {
  background-color: transparent;
  cursor: pointer;
}

.m-5:before {
  background-color: #d5edf6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.m-5:hover:before {
  background-color: #81b8f7;
}
img {
  max-width: 700px;
  border-radius: 10px;
}
.mb-5 {
  background-color: rgb(215, 243, 255);
  border: 3px solid white;
  border-radius: 20px;
  padding: 30px;
  text-align: start;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 60%;
}
.text-center {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  color: #003479;
}
.mb-5 h1 {
  font-size: 40px;
  font-weight: 300;
  margin-top: 30px;
}
.mb-5 p {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}
.bottom {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(7, 121, 222) 0%,
    rgb(20, 72, 140) 90%
  );
  color: white;
  padding: 40px;
  text-align: center;
}
.designed {
  font-size: 15px;
  font-family: Verdana, sans-serif;
}
.fab {
  color: white;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  background: rgb(12, 48, 94);
  border-radius: 70px;
}

#head {
  text-align: center;
  margin: 100px;
  margin-top: 200px;
  font-family: "Arima Madurai", cursive;
  background-color: transparent;
  border: 1px solid #003479;
  color: #003479;
  font-size: 70px;
  font-weight: 700;
  padding: 10px 5px;
  position: relative;
}
#head:before {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(188, 252, 255) 0%,
    rgb(180, 209, 250) 100.7%
  );
  content: "";
  height: calc(100% + 1px);
  position: absolute;
  right: -15px;
  top: -15px;
  width: 100%;
  z-index: -1;
}
.about-me,
.btn-projects {
  border: none;
}
.about-me h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.about-me a {
  text-decoration: none;
  color: #003479;
}
.about-me a:hover {
  font-weight: 800;
}

.btn-projects {
  display: flex;
  transition: all 200ms ease-in-out;
}
.btn-projects:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.btn-projects img {
  border: 7px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0;
  max-width: 300px;
}
.btn-projects h1 {
  font-family: "Varela Round", sans-serif;
}
.btn-projects p {
  color: rgb(97, 97, 97);
}

.container-contact {
  max-width: 50%;
  margin-bottom: 80px;
}
.container-contact h1 {
  font-size: 40px;
  color: #266db6;
}
.container-contact a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #152f79;
  border: 2px solid #152f79;
  border-radius: 30px;
  box-shadow: #5d76bd 4px 4px 0 0;
  cursor: pointer;
  padding: 5px 18px;
  transition: all 400ms ease-in-out;
}

.container-contact a:hover {
  box-shadow: none;
  background-color: #5d76bd;
  border: 2px solid #5d76bd;
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (max-width: 1270px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    text-align: center;
  }
  .about-me img {
    max-width: 60%;
  }
  .projects {
    max-width: 80%;
  }
  .projects img {
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  .container .btn {
    font-size: 11px;
  }
  .container h1 {
    font-size: 30px;
  }
  .container p {
    font-size: 20px;
  }
  .container a {
    font-size: 15px;
  }
  .fab {
    margin: 10px;
  }
  #head {
    font-size: 40px;
    margin: 60px 30px;
    margin-top: 140px;
  }
  .btn-projects {
    max-width: 80%;
  }
  .btn-projects img {
    max-width: 200px;
  }
}
